.container {
  display: flex;
  .header {
    display: flex;
    height: 2vh;
    margin-top: 1rem;
    .home {
      margin-left: 20px;
    }
    .vector{
        background-color: #fff;
        color: black;
        font-weight: 900;
    }
    .titulo{
        color: #000;
    }
  }
}
